<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Observe Entity Explorer</title>
    <link rel="icon" type="image/png" href="~/favicon.ico">
    <link rel="stylesheet" href="~/css/EntityExplorer.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/a11y-light.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/json.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highlightjs-line-numbers.js/dist/highlightjs-line-numbers.min.js"></script>    
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>
        <a asp-area="" asp-controller="Home" asp-action="Index">Observe Entity Explorer</a> | @Html.Raw(Model.CurrentUser)
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <div>
            Observe Entity Explorer &copy; 2023 - Observe Inc. | Version @Html.Raw(System.Reflection.Assembly.GetEntryAssembly().GetName().Version)
        </div>
    </footer>
</body>
</html>
