<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/internal-nlog-AspNetCore.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- File Target for all log messages with basic details -->
    <!-- <target xsi:type="File" name="allfile" fileName="nlog-AspNetCore-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" /> -->

    <!-- File Target for own log messages with extra web details using some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile-web" fileName="nlog-AspNetCore-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
    <target xsi:type="Console" name="lifetimeConsole" layout="${level:truncate=4:lowercase=true}: ${logger}[0]${newline}      ${message}${exception:format=tostring}" />

    <target xsi:type="ColoredConsole" name="console" layout="${message}" />

    <target name="MainLog" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard" optimizeBufferReuse="true">
      <target name="MainLog1" 
              xsi:type="File" 
              fileName="logs/Observe.EntityExplorer.Main.${shortdate}.log" 
              keepFileOpen="true" 
              openFileCacheTimeout="30" 
              autoFlush="true" 
              archiveAboveSize="52428800" 
              archiveOldFileOnStartup="false"
              maxArchiveDays="7" maxArchiveFiles="14"
              layout="${longdate}|${level}|${processname}|${processid}|${threadid}|${logger}|${aspnet-request-url:IncludePort=true:IncludeQueryString=true}|${message:withexception=true}"/>
    </target>
    <target name="Observe.Management.ObserveConnection" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard" optimizeBufferReuse="true">
      <target name="Observe.Management.ObserveConnection1" 
              xsi:type="File" 
              fileName="logs/Observe.Management.ObserveConnection.${shortdate}.log" 
              keepFileOpen="true" 
              openFileCacheTimeout="30" 
              autoFlush="true" 
              archiveAboveSize="52428800" 
              archiveOldFileOnStartup="false"
              maxArchiveDays="7" maxArchiveFiles="14"
              layout="${longdate}|${level}|${processname}|${processid}|${threadid}|${logger}|${message:withexception=true}"/>
    </target>
    <target name="ConsoleLog" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard" optimizeBufferReuse="true">
      <target name="ConsoleLog1" 
              xsi:type="File" 
              fileName="logs/Observe.EntityExplorer.Console.${shortdate}.log" 
              keepFileOpen="true" 
              openFileCacheTimeout="30" 
              autoFlush="true" 
              archiveAboveSize="52428800" 
              archiveOldFileOnStartup="false"
              maxArchiveDays="7" maxArchiveFiles="14"
              layout="${longdate}|${level}|${processname}|${processid}|${threadid}|${logger}|${aspnet-request-url:IncludePort=true:IncludeQueryString=true}|${message:withexception=true}"/>
    </target>

  </targets>

  <rules>
    <!--Output hosting lifetime messages to console target for faster startup detection -->
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />

    <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

    <!-- Observe Entity Explorer logs -->
    <logger name="Observe.EntityExplorer.ObserveConnection" minlevel="Trace" writeTo="Observe.Management.ObserveConnection" />
    <logger name="Observe.EntityExplorer.Console" minlevel="Trace" writeTo="ConsoleLog"/>
    <logger name="Observe.EntityExplorer.Console" minlevel="Trace" writeTo="console" final="true" />

    <!-- Catch-all main log -->
    <logger name="*" minlevel="Trace" writeTo="MainLog" final="true" />
  </rules>
</nlog>