body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color:white;
}

td {
  vertical-align: top;
}

span.spanError {
  color: red;
}

table.AlternatingRowTable tr:nth-child(even) {
  background: lightcyan
}

table.AlternatingRowTable tr:nth-child(odd) {
  background: ghostwhite
}

/* table.AlternatingRowTable tr:nth-child(1) {
  background: none;
} */

code.opalDisplay {
  background-color: ghostwhite;
}

/* for block of numbers */
.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 1px solid #CCC;
  vertical-align: top;
  padding-right: 5px;

  /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
  padding-left: 10px;
}